@import "tailwindcss";

@layer base 
{

@font-face
{
	font-family : 'Jost';
	font-weight : 400;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/jost-latin-regular.woff2') format('woff2');
}

@font-face
{
	font-family : 'Mabgate-Regular';
	font-weight : 400;
	font-style : normal;

	font-display : swap;
	src : url('../fonts/Mabgate-Regular.woff2') format('woff2');
}

body
{
	font-family: 'Jost', 'sans-serif';
	font-weight: 400;
}  

h1, h2, h3, h4, h5, a 
{
	font-family: 'Mabgate-Regular', 'sans-serif';
}  

}
/* end @layer base */

*{ scroll-behavior: smooth }

/* loader animation */
@keyframes ring { from { stroke-dasharray: 0 257 0 0 1 0 0 258; } 25% { stroke-dasharray: 0 0 0 0 257 0 258 0; } 50%, to { stroke-dasharray: 0 0 0 0 0 515 0 0; } }

/* mouse indicator */
@keyframes scroll { 0% { transform: translateY(0); } 30% { transform: translateY(2.625rem); } }

 
/* --------------------TESTING LAYOUT--------------------- */
/* .border-dev { @apply border-solid border-1 border-sky-300; }   */
